@charset "UTF-8";
//Tamaño de fuente html in px
$font-size-html: 15;
// Fonts --------------------------------------------------->
$fonts-family-primary:'Kohinoor', 'PT Sans', sans-serif;
$fonts-family-secondary:'AmpleSoft', 'PT Sans', sans-serif;
$fonts: (
        primary: (
                family: $fonts-family-primary,
                base:   normal,
                medium: 200,
                demi:   300,
                book:   500,
                bold:   700
        ),
        secondary: (
                family: $fonts-family-secondary,
                base:           normal,
                medium:         400,
                light:          300,
                exlight:        200,
                bold:           700
        )
);
/*Font functions*/
@function font($fuente, $propiedad:family) {
        @return map-get(map-get($fonts, $fuente), $propiedad);
}
// end fonts ------------------------------------------------->

// Colores ------------------------------------------------->
$azul-claro:#92b5df;
$color-azul: #1A4C96;
$color-verde: #8BB45F;
$color-gris: #6F6F6E;
$color-button: #4956A1;
$color-gris-form: #6F6F6E;
$color-tabs: #92b5df;//
$color-bullets: #92b5df;

// colors

$color-1: #333333; // blue
$color-2: #1c318b; // light blue
$color-3: #f2eacf; // yellow
$color-4: #1C317D; // red
$color-5: #ffffff; // white

// fonts

$primary-font: 'Roboto', sans-serif;


$colors: (
        //Solo Colores
        azul-claro : #92b5df,
        azul-oscuro: #00377e,
        amarillo-claro : #E5B449,
        amarillo--active : #ecbb4a,
        azul : #1C317D,
        verde : #8BB45F,
        gris : #6F6F6E,
        blanco: #ffffff,
        azul--cronograma : #92b5df,
        azul--contactenos : #313F82,//
        //Components
        tabs : #833C91,
        gris-form : #6F6F6E,
        azul-text-banner : #132051
);

//Contiene Mixing breakpoint
$breakpoints: (
        mobile: 480px,
        tablet: 767px,
        small-desktop: 1024px,
        desktop: 1280px,
        large-desktop: 1366px
);

// Backgrounds --------------------------------------------->
$backgrounds: (
        //Solo Colores
        header : rgba(28,49,125,0.9),
        header-transparent : rgba(28, 49, 125, 0.9),
        footer : #A4C0B5,
        form : #EDEDED,
        cronograma : #ffffff, //
        //Imagen
        imagen-banner-titulo : url('../img/arbitraje-cabezote-titulo.png'),
        imagen-banner-fondo : url('../img/arbitraje-cabezote-fondo.jpg'),
        mapa : url('../img/mapa2.jpg')
);

// Instrucciones --------------------------------------->
/*
// USO:

MAP
color: map-get($colors, amarillo);

background-color: map-get($backgrounds, header);

MIXING MAP
@include breakpoint(mobile) {
  background-color: yellow;
}

*/

