/*Checks personalizados*/
/*-------------------------*/
.tasks-list-cb {
    opacity: 0;
    position: absolute;
    left: -9999px;
    visibility: hidden;
}

.tasks-list-mark {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #5a5a5a;
    border-radius: 1px;
    margin-top: 2px;
    transition: .2s;
}
.tasks-list-cb:checked ~ .tasks-list-mark {
    top: -4px;
    left: -3px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid $color-azul;
    border-bottom: 2px solid $color-azul;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.tasks-list-cb:checked ~ .tasks-list-mark:before {
    display: block;

    -webkit-transition: all .12s ease-in-out .10s;
    /*Efectos*/
    transition: all .12s ease-in-out .10s;

    opacity: 1;
}

.tasks-list-desc {
    display: block;
    line-height: 1;
    text-align: left;
    -webkit-transition: all .12s ease-in-out .10s;
    /*Efectos*/
    transition: all .12s ease-in-out .10s;
    color: #666;
}
.tasks-list-cb:checked ~ .tasks-list-desc {
    -webkit-transition: all .12s ease-in-out .10s;
    /*Efectos*/
    transition: all .12s ease-in-out .10s;

    color: #fff;
}
.checkbox-inline {
    position: relative;
    height: 25px;

    padding-left: 35px;
    display: inline-block;
    line-height: 25px;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}