// colors

$main-text: #8f9cb5; // main text
$link: #35a785; // anchor tags
$background: #ffd88f; // body background color

$color-1: #5e6e8d; // blue
$color-2: #fc7169; // red
$color-3: #bad26e; // green

// fonts

$primary-font: 'Lato', sans-serif;

// breakpoints

$S:     320px;
$M:     768px;
$L:     1170px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
    @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
    @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
    @media only screen and (min-width: $L) { @content; }
  }
}

// rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

/* --------------------------------
Primary style
-------------------------------- */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* --------------------------------
Main components
-------------------------------- */
.cd-popup-trigger {
  /*display: block;
  width: 170px;
  height: 50px;
  line-height: 50px;
  margin: 3em auto;

  text-align: center;
  color: #FFF;
  @include font-size(14px);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50em;
  background: $link;
  box-shadow: 0 3px 0 rgba(#000, .07);

  @include MQ(L) {
    margin: 6em auto;
  }*/
}

/* --------------------------------
xpopup
-------------------------------- */
.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1200;
  background-color: rgba($color-1, .9);

  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;

  &.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }

  .img-replace {
    /* replace text with an image */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
  }

}

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  margin: 4em auto;
  background: #FFF;
 /* border-radius: .25em .25em .4em .4em;*/
/*  text-align: center;*/
  box-shadow: 0 0 20px rgba(#000, .2);

  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;

  @media screen and (max-width: 600px){
    margin: 0em auto;
  }

  .cd-buttons {
    @include clearfix;

    li {
      float: left;
      width: 50%;
    }

    a {
      display: block;
      height: 60px;
      line-height: 60px;
      text-transform: uppercase;
      color: #FFF;
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      transition: background-color 0.2s;
    }

    li:first-child a {
      background: $color-2;
      border-radius: 0 0 0 .25em;

      .no-touch &:hover {
        background-color: lighten($color-2, 5%);
      }
    }

    li:last-child a {
      background: lighten($color-1, 30%);
      border-radius: 0 0 .25em 0;

      .no-touch &:hover {
        background-color: lighten(lighten($color-1, 30%), 5%);
      }
    }
  }

  .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;

    &::before, &::after {
      content: '';
      position: absolute;
      top: 12px;
      width: 14px;
      height: 3px;
      background-color: $main-text;
    }

    &::before {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      left: 8px;
    }

    &::after {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      right: 8px;
    }
  }

  .is-visible & {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  @include MQ(L) {
    margin: 2em auto;
  }
}

