/*NUNITO FONT
________________________________________________________________________*/
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-ExtraBold.eot');
  src: url('../fonts/nunito/Nunito-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nunito/Nunito-ExtraBold.woff2') format('woff2'),
  url('../fonts/nunito/Nunito-ExtraBold.woff') format('woff'),
  url('../fonts/nunito/Nunito-ExtraBold.ttf') format('truetype'),
  url('../fonts/nunito/Nunito-ExtraBold.svg#../fonts/nunito/Nunito-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-BlackItalic.eot');
  src: url('../fonts/nunito/Nunito-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nunito/Nunito-BlackItalic.woff2') format('woff2'),
  url('../fonts/nunito/Nunito-BlackItalic.woff') format('woff'),
  url('../fonts/nunito/Nunito-BlackItalic.ttf') format('truetype'),
  url('../fonts/nunito/Nunito-BlackItalic.svg#../fonts/nunito/Nunito-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-Italic.eot');
  src: url('../fonts/nunito/Nunito-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nunito/Nunito-Italic.woff2') format('woff2'),
  url('../fonts/nunito/Nunito-Italic.woff') format('woff'),
  url('../fonts/nunito/Nunito-Italic.ttf') format('truetype'),
  url('../fonts/nunito/Nunito-Italic.svg#../fonts/nunito/Nunito-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-LightItalic.eot');
  src: url('../fonts/nunito/Nunito-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nunito/Nunito-LightItalic.woff2') format('woff2'),
  url('../fonts/nunito/Nunito-LightItalic.woff') format('woff'),
  url('../fonts/nunito/Nunito-LightItalic.ttf') format('truetype'),
  url('../fonts/nunito/Nunito-LightItalic.svg#../fonts/nunito/Nunito-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-SemiBoldItalic.eot');
  src: url('../fonts/nunito/Nunito-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nunito/Nunito-SemiBoldItalic.woff2') format('woff2'),
  url('../fonts/nunito/Nunito-SemiBoldItalic.woff') format('woff'),
  url('../fonts/nunito/Nunito-SemiBoldItalic.ttf') format('truetype'),
  url('../fonts/nunito/Nunito-SemiBoldItalic.svg#../fonts/nunito/Nunito-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-Regular.eot');
  src: url('../fonts/nunito/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nunito/Nunito-Regular.woff2') format('woff2'),
  url('../fonts/nunito/Nunito-Regular.woff') format('woff'),
  url('../fonts/nunito/Nunito-Regular.ttf') format('truetype'),
  url('../fonts/nunito/Nunito-Regular.svg#../fonts/nunito/Nunito-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-BoldItalic.eot');
  src: url('../fonts/nunito/Nunito-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nunito/Nunito-BoldItalic.woff2') format('woff2'),
  url('../fonts/nunito/Nunito-BoldItalic.woff') format('woff'),
  url('../fonts/nunito/Nunito-BoldItalic.ttf') format('truetype'),
  url('../fonts/nunito/Nunito-BoldItalic.svg#../fonts/nunito/Nunito-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-ExtraBoldItalic.eot');
  src: url('../fonts/nunito/Nunito-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nunito/Nunito-ExtraBoldItalic.woff2') format('woff2'),
  url('../fonts/nunito/Nunito-ExtraBoldItalic.woff') format('woff'),
  url('../fonts/nunito/Nunito-ExtraBoldItalic.ttf') format('truetype'),
  url('../fonts/nunito/Nunito-ExtraBoldItalic.svg#../fonts/nunito/Nunito-ExtraBoldItalic') format('svg');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-ExtraLightItalic.eot');
  src: url('../fonts/nunito/Nunito-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nunito/Nunito-ExtraLightItalic.woff2') format('woff2'),
  url('../fonts/nunito/Nunito-ExtraLightItalic.woff') format('woff'),
  url('../fonts/nunito/Nunito-ExtraLightItalic.ttf') format('truetype'),
  url('../fonts/nunito/Nunito-ExtraLightItalic.svg#../fonts/nunito/Nunito-ExtraLightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-SemiBold.eot');
  src: url('../fonts/nunito/Nunito-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nunito/Nunito-SemiBold.woff2') format('woff2'),
  url('../fonts/nunito/Nunito-SemiBold.woff') format('woff'),
  url('../fonts/nunito/Nunito-SemiBold.ttf') format('truetype'),
  url('../fonts/nunito/Nunito-SemiBold.svg#../fonts/nunito/Nunito-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-Bold.eot');
  src: url('../fonts/nunito/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nunito/Nunito-Bold.woff2') format('woff2'),
  url('../fonts/nunito/Nunito-Bold.woff') format('woff'),
  url('../fonts/nunito/Nunito-Bold.ttf') format('truetype'),
  url('../fonts/nunito/Nunito-Bold.svg#../fonts/nunito/Nunito-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-ExtraLight.eot');
  src: url('../fonts/nunito/Nunito-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nunito/Nunito-ExtraLight.woff2') format('woff2'),
  url('../fonts/nunito/Nunito-ExtraLight.woff') format('woff'),
  url('../fonts/nunito/Nunito-ExtraLight.ttf') format('truetype'),
  url('../fonts/nunito/Nunito-ExtraLight.svg#../fonts/nunito/Nunito-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-Light.eot');
  src: url('../fonts/nunito/Nunito-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nunito/Nunito-Light.woff2') format('woff2'),
  url('../fonts/nunito/Nunito-Light.woff') format('woff'),
  url('../fonts/nunito/Nunito-Light.ttf') format('truetype'),
  url('../fonts/nunito/Nunito-Light.svg#../fonts/nunito/Nunito-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-Black.eot');
  src: url('../fonts/nunito/Nunito-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/nunito/Nunito-Black.woff2') format('woff2'),
  url('../fonts/nunito/Nunito-Black.woff') format('woff'),
  url('../fonts/nunito/Nunito-Black.ttf') format('truetype'),
  url('../fonts/nunito/Nunito-Black.svg#../fonts/nunito/Nunito-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

/*HELVETICA
________________________________________________________________________*/
@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../fonts/helvetica/HelveticaNeueLTPro-Lt.eot');
  src: url('../fonts/helvetica/HelveticaNeueLTPro-Lt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/HelveticaNeueLTPro-Lt.woff2') format('woff2'),
  url('../fonts/helvetica/HelveticaNeueLTPro-Lt.woff') format('woff'),
  url('../fonts/helvetica/HelveticaNeueLTPro-Lt.ttf') format('truetype'),
  url('../fonts/helvetica/HelveticaNeueLTPro-Lt.svg#HelveticaNeueLTPro-Lt') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../fonts/helvetica/HelveticaNeueLTPro-Bd.eot');
  src: url('../fonts/helvetica/HelveticaNeueLTPro-Bd.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/HelveticaNeueLTPro-Bd.woff2') format('woff2'),
  url('../fonts/helvetica/HelveticaNeueLTPro-Bd.woff') format('woff'),
  url('../fonts/helvetica/HelveticaNeueLTPro-Bd.ttf') format('truetype'),
  url('../fonts/helvetica/HelveticaNeueLTPro-Bd.svg#HelveticaNeueLTPro-Bd') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Rounded LT Std';
  src: url('../fonts/helvetica/HelveticaRoundedLTStd-Bd.eot');
  src: url('../fonts/helvetica/HelveticaRoundedLTStd-Bd.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-Bd.woff2') format('woff2'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-Bd.woff') format('woff'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-Bd.ttf') format('truetype'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-Bd.svg#HelveticaRoundedLTStd-Bd') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Rounded LT Std';
  src: url('../fonts/helvetica/HelveticaRoundedLTStd-Black.eot');
  src: url('../fonts/helvetica/HelveticaRoundedLTStd-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-Black.woff2') format('woff2'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-Black.woff') format('woff'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-Black.ttf') format('truetype'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-Black.svg#HelveticaRoundedLTStd-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../fonts/helvetica/HelveticaNeueLTPro-Md.eot');
  src: url('../fonts/helvetica/HelveticaNeueLTPro-Md.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/HelveticaNeueLTPro-Md.woff2') format('woff2'),
  url('../fonts/helvetica/HelveticaNeueLTPro-Md.woff') format('woff'),
  url('../fonts/helvetica/HelveticaNeueLTPro-Md.ttf') format('truetype'),
  url('../fonts/helvetica/HelveticaNeueLTPro-Md.svg#HelveticaNeueLTPro-Md') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Rounded LT Std';
  src: url('../fonts/helvetica/HelveticaRoundedLTStd-BlkO.eot');
  src: url('../fonts/helvetica/HelveticaRoundedLTStd-BlkO.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-BlkO.woff2') format('woff2'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-BlkO.woff') format('woff'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-BlkO.ttf') format('truetype'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-BlkO.svg#HelveticaRoundedLTStd-BlkO') format('svg');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Rounded LT Std';
  src: url('../fonts/helvetica/HelveticaRoundedLTStd-BdCnO.eot');
  src: url('../fonts/helvetica/HelveticaRoundedLTStd-BdCnO.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-BdCnO.woff2') format('woff2'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-BdCnO.woff') format('woff'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-BdCnO.ttf') format('truetype'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-BdCnO.svg#HelveticaRoundedLTStd-BdCnO') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../fonts/helvetica/HelveticaNeueLTPro-Hv.eot');
  src: url('../fonts/helvetica/HelveticaNeueLTPro-Hv.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/HelveticaNeueLTPro-Hv.woff2') format('woff2'),
  url('../fonts/helvetica/HelveticaNeueLTPro-Hv.woff') format('woff'),
  url('../fonts/helvetica/HelveticaNeueLTPro-Hv.ttf') format('truetype'),
  url('../fonts/helvetica/HelveticaNeueLTPro-Hv.svg#HelveticaNeueLTPro-Hv') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Rounded LT Std BdCn';
  src: url('../fonts/helvetica/HelveticaRoundedLTStd-BdCn.eot');
  src: url('../fonts/helvetica/HelveticaRoundedLTStd-BdCn.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-BdCn.woff2') format('woff2'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-BdCn.woff') format('woff'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-BdCn.ttf') format('truetype'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-BdCn.svg#HelveticaRoundedLTStd-BdCn') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Rounded LT Std Italic Bold';
  src: url('../fonts/helvetica/HelveticaRoundedLTStd-BdO.eot');
  src: url('../fonts/helvetica/HelveticaRoundedLTStd-BdO.eot?#iefix') format('embedded-opentype'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-BdO.woff2') format('woff2'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-BdO.woff') format('woff'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-BdO.ttf') format('truetype'),
  url('../fonts/helvetica/HelveticaRoundedLTStd-BdO.svg#HelveticaRoundedLTStd-BdO') format('svg');
  font-weight: bold;
  font-style: italic;
}