/*Diferentes backgrounds*/
@function background($bg-name) {
  @if map-has-key($backgrounds, $bg-name) {
    @return map-get($backgrounds, $bg-name);
  }@else {
    @warn "Desafortunadamente el background #{$bg-name} es desconocido.";
  }
}
/*Diferentes colores*/
@function color($color-name) {
  @if map-has-key($colors, $color-name) {
    @return map-get($colors, $color-name);
  }@else {
    @warn "Desafortunadamente el color #{$color-name} es desconocido.";
  }
}

/*Calculamos el valor rem en px*/
@function rem($value) {
  @return ($value / $font-size-html)+rem;
}