.material-file-inputs{
  $background: #37385F;
  $background--light: #3F4069;
  $foreground: #D7D7EF;

  .file-drop-area {
    border: 1px dashed lighten($background, 30%);
    border-radius: 3px;
    position: relative;
    width: 450px;
    max-width: 100%;
    margin: 0 auto;
    padding: 26px 20px 30px;
    transition: 0.2s;
    &.is-active {
      background-color: $background--light;
    }
  }

  .fake-btn {
    background-color: #3F4069;
    border: 1px solid #9E9EC4;
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 8px;
    font-size: 12px;
    text-transform: uppercase;
  }

  .file-msg {
    font-size: small;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: calc(100% - 130px);
    vertical-align: middle;
  }

  .file-input {
    position: absolute;
    left: 0 !important;
    top: 0 !important;
    height: 100% !important;
    width: 100% !important;
    cursor: pointer !important;
    opacity: 0 !important;
    &:focus {
      outline: none !important;
    }
  }
}