// @include breakpoint(desktop);
@mixin breakpoint($device) {

  @if map-has-key($breakpoints, $device) {
    @media (min-width: #{map-get($breakpoints, $device)}) {
      @content;
    }
  } @else {
    @warn "Desafortunadamente el valor #{$device} es desconocido.";
  }
}

// breakpoints

$S:     480px;
$M:     768px;
$L:     1170px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
    @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
    @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
    @media only screen and (min-width: $L) { @content; }
  }
}

// rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

// border radius

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}


//OLD MIXINGS
@mixin flex-display{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex-column-row-center($fflow: column){
  justify-content: center;
  align-items: center;
  flex-flow: $fflow;
}

@mixin custom-flex($just-content: center, $align-items: center, $flex-flow: row wrap ){
  justify-content: $just-content;
  align-items: $align-items;
  flex-flow: $flex-flow;
}

// clearfix
@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

/*Transiciones*/
@mixin transitions{
  -webkit-transition: all 0.35s;
  transition: all 0.45s;
}
