body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/*
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-thumb {
  border-right: solid 5px #1d1f20;
  background: #5f5f5f;
}
::-webkit-scrollbar-track {
  border: none;
  background: #1d1f20;
}*/

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
/*  border-radius: 10px;*/
}

::-webkit-scrollbar
{
  width: 15px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  /*border-radius: 10px;*/
  background-image: -webkit-gradient(linear,
          left bottom,
          left top,
          color-stop(0.80, #1A2B67),
          color-stop(0.40, #531e67),
          color-stop(0.20, #6f2b8e));
}