@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');


/*Fun begins*/
.tab_container {
  width: 100%;
  margin: 0 auto;
  padding-top: 2.66666rem;
  position: relative;

  @media only screen and (max-width: 900px) {
      width: 98%;
  }

  *,
  *:after,
  *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
  }

  .clearfix:after {
    clear: both;
  }

  input, section {
    clear: both;
    padding-top: 10px;
    display: none;
  }

  label {
    font-family: font(secondary);
    font-weight: font(secondary, light);
    font-size: 1.666666rem;
    display: block;
    position: relative;
    float: left;
    width: 33.33%;
    padding: 1.8rem;
    color: $color-tabs;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #ffffff;
    box-shadow: inset 0 -3px #f0f0f0;

    @media screen and (max-width: 1200px){
      font-size: 1rem;
    }
    @media screen and (max-width: 992px){
      font-size: 1.2rem;
      width: 100%;
    }

    br{
      @media screen and (max-width: 1200px){
        display: none;
      }
    }

    @media only screen and (max-width: 500px) {
      padding: 0.1rem;
      padding-bottom: 0.8rem;
    }
    @media screen and (max-width: 320px){
      padding-bottom: 20px;
    }

    & .fa {
      font-size: 1.3em;
      margin: 0 0.4em 0 0;
    }

    span{
      font-family: font(secondary);
      font-weight: font(secondary, light);
      /*Media query*/
      @media only screen and (max-width: 900px) {
        /*display: none;*/
        display: block;
        font-size: 1.33333rem;
        min-height: 18px;
      }

      @media only screen and (max-width: 750px) {
        font-size: 1.2rem;
      }
      @media only screen and (max-width: 650px) {
        font-size: 1.2rem;
      }
      @media only screen and (max-width: 500px) {
        font-size: 1.2rem;
      }
    }

    i.icon{
      display: block;
      margin-bottom: 10px;
      img{
        width: 100%;
        max-width: 100px;
        height: auto;
      }
    }

  }


  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4,
  #tab5:checked ~ #content5 {
    display: block;

    background: #fff;
    color: #999;

    @media screen and (max-width: 700px){
      padding: 0px;
    }
  }

  .tab-content{
    p, h3, h4, ol, ul, img{
      -webkit-animation: fadeInScale 0.3s ease-in-out;
      -moz-animation: fadeInScale 0.3s ease-in-out;
      animation: fadeInScale 0.3s ease-in-out;
    }

    .container-fluid{
      .row{
        padding-top: 1.333333rem;
        padding-bottom: 1.6rem;
      }
    }

  }

  label#tab2{
    @media screen and (max-width: 767px){
      position: relative;
    }
    @media screen and (max-width: 400px){
    }
  }

  & [id^="tab"]:checked + label {
    background: #fff;
    box-shadow: inset 0 -5px $color-tabs;
    color: $color-tabs;


    span{
      font-family: font(secondary);
      font-weight: font(secondary, bold);
    }

    &::before{
      position: absolute;
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      bottom: -8px;
      content: '';
      width:0px;
      height:0px;
      border-left:10px solid transparent; /* izquierda flecha */
      border-right:10px solid transparent; /* derecha flecha */
      border-top:10px solid $color-tabs; /* base flecha y color*/
      font-size:0px;
      line-height:0px;
    }
  }

  & [id^="tab"]:checked + label .fa {
    color: $color-tabs;
  }

}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.no_wrap {
  text-align:center;
  color: $color-tabs;
}
.link {
  text-align:center;
}