//colors
$color_mulled_wine_10_approx: rgba(81, 74, 101, 0.10);
$color_dove_gray_approx: #6f6f6e;
$color_azure_approx: #4956a1;
$color-bullets: #833C91;

$pdleft: 0.666666rem;

.divTable {
  display: table;
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0.666666rem;
  border-collapse: initial;

}
.divTableRow {
  display: table-row;
}
.divTableCell {
  display: table-cell;
  background-color: $color_mulled_wine_10_approx;
  padding: 20px;
  text-align: left;
  color: $color_dove_gray_approx;
  vertical-align: middle;
}
.divTableHead {
  background-color: $color_mulled_wine_10_approx;
  display: table-cell;
  padding: 20px;
  color: $color_dove_gray_approx;
  text-align: left;
  vertical-align: middle;
}

.divTableCell,
.divTableHead{
  ul{
    margin-left: 1.333333rem;

    &.list-number{
      li{
        font-weight: $font-principal-type-bold;
        text-align: center;//Hola
      }
    }
    li{
      font-family: $font-principal;
      font-weight: $font-principal-type-book;
      padding-left: $pdleft;
      font-size: 1.4rem;
    }
  }
}

.divTableHeading {
  font-family: $font-titles;
  font-weight: $font-titles-type-bold;
  background-color: $color_mulled_wine_10_approx;
  display: table-cell;
  padding: 20px;
  color: $color_azure_approx;
  font-size: 24px;
  text-align: left;
}
.divTableBody {
  display: table-row-group;
}
.text-after-table {
  font-size: 12px;
  text-align: center;
}
ul {
  &.list-number {
    list-style: none !important;
    color: $color_azure_approx;
    font-size: 20px;
    font-weight: bold;
    margin-left: 0;
    li{
      &::before{
        display: none;
      }
    }
  }
  li.list-content:before {
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    background-color: $color-bullets;
    margin-left: -22px;
    margin-top: 8px;
    border-radius: 100%;

    @media screen and (max-width: 600px){
      margin-left: -12px;
    }
  }

}
@media only screen and(max-width: 550px) {
  .divTable {
    display: none;
  }
}
.contenedor-table-responsive {
  width: 100%;
}
.plan-table-responsive {
  background-color: $color_mulled_wine_10_approx;
  padding: 10px;
  text-align: center;
  color: $color_azure_approx;
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}
.valor-table-responsive {
  background-color: $color_mulled_wine_10_approx;
  padding: 10px;
  text-align: center;
  color: $color_azure_approx;
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}
.descript-table-responsive {
  background-color: $color_mulled_wine_10_approx;
  padding: 10px 0;
}
@media only screen and(min-width: 551px) {
  .contenedor-table-responsive {
    display: none;
  }
}
td.principal-number {
  font-family: $font-titles;
  font-weight: $font-titles-type-bold;
  color: $color_azure_approx;
  font-size: 65px;
  text-align: center;
}
.precio-table-responsive ul {
  text-align: center;
  padding: 10px 0;
  margin: 10px 0;
  background-color: $color_mulled_wine_10_approx;
}
precio-table-responsive ul li {
  text-align: center;
  padding: 10px 0;
  margin: 10px 0;
  background-color: $color_mulled_wine_10_approx;
}