main{
  .container{
    padding: 3rem;
    h1{
      font-size: 2rem;
      strong{

      }
    }
  }

  .container{
    .row{
      div{
        padding-top: .75rem;
        padding-bottom: .75rem;
        background-color: rgba(86,61,124,.15);
        border: 1px solid rgba(86,61,124,.2);
      }
    }
  }

  .container{
    &#bd-example{
      .row{
        min-height: 10rem;
        background-color: rgba(255,0,0,.1);
        margin-bottom: 2rem;

        .div{
          padding-top: .75rem;
          padding-bottom: .75rem;
          background-color: rgba(86,61,124,.15);
          border: 1px solid rgba(86,61,124,.2);
        }
      }
    }
  }

}


main{
  .container{
    padding-top: 10rem !important;
    .row{
      &:nth-child(2){
        .item{
          &:nth-child(1){
            span{
              display: block;
              font-family: $font-titles;
              &:nth-child(2){font-weight: $font-titles-type-demi;}
              &:nth-child(3){font-weight: $font-titles-type-book;}
              &:nth-child(4){font-weight: $font-titles-type-bold;}
            }
          }

          &:nth-child(2){
            span{
              display: block;
              font-family: $font-principal;
              &:nth-child(2){font-weight: $font-principal-type-medium;}
              &:nth-child(3){font-weight: $font-principal-type-light;}
              &:nth-child(4){font-weight: $font-principal-type-exlight;}
              &:nth-child(5){font-weight: $font-principal-type-bold;}
            }
          }

        }
      }
    }
  }
}