ul{
  list-style: none;
  margin-left: rem(30);
  li{
    color: $color-gris;
    font-family: font(primary);
    font-weight: font(primary, base);
    font-size: rem(20);

    &:before {
      position: absolute;
      content: '';
      width: rem(10);
      height: rem(10);
      background-color: $color-bullets;
      margin-left: rem(-22);
      margin-top: rem(10);
      border-radius: 100%;
    }
  }
}