$gray_dark: #445870;
$gray: #90a1b5;
$gray_light: #e0e7ee;
$gray_lighter: #f6f7f9;
$blue: #55a1fb;
$blue_light: #88bfff;
$primary: $blue;
$primary_light: $blue_light;

@import 'nice-select';
@import 'prism';

@mixin clearfix() {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}


label {
  color: $gray;
  font-size: 11px;
  margin: 0 2px 4px;
  text-transform: uppercase;
  float: left;
  &.right {
    float: right;
  }
}

.button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: $primary;
  border-radius: $input_border_radius;
  border: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  height: $input_height;
  line-height: $input_height;
  outline: none;
  padding: 0 24px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  width: auto;
  &:hover, &:focus {
    background-color: darken($primary, 4%);
  }
  &:active {
    background-color: darken($primary, 8%);
  }
  &.light {
    background-color: #fff;
    border: 1px solid $gray_light;
    color: $primary;
    line-height: $input_height - 2;
    margin-left: 24px;
    &:hover {
      border-color: darken($gray_light, 5%);
    }
    &:active, &:focus {
      border-color: $primary_light;
    }
  }
  @media screen and (max-width: 360px) {
    width: 100%;
    &.light {
      margin: 18px 0 0;
    }
  }
}
