/*VARIABLES COLORES*/
$color-azul-titulos: #303686;
$color-verde: #ecc155;
$color-texto-p: #585857;


.form-contacto{
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  z-index: 99;
  top: 0px;
  right: 0px;
  height: 100%;
  padding: 7rem 8rem 0 6rem;
  color: #fff;
  @media (max-width: 1440px){
    padding: 2rem 5rem 1rem 3.5rem;
  }
  @media (max-width: 1366px){
    padding: 2rem 5rem 0 3.5rem;
  }
  @media (max-width: 991px){
    position: relative;
    padding: 3rem 6rem ;
  }
  @media (max-width: 480px){
    padding: 3rem 3rem;
  }
  h2{
    text-align: center;
    font-family: Nunito;
    font-size: 4rem;
    //padding-bottom: 1rem;
    line-height: 1;
    font-weight: 300;
    font-style: normal;
    @media (max-width: 1920px){
      font-size: 4rem;
    }
    @media (max-width: 1440px){
      font-size: 3rem;
    }
    @media (max-width: 1366px){
      font-size: 2.5rem;
    }
    @media (max-width: 768px){
      font-size: 3rem;
    }
    span{
      color: $color-verde;
      font-weight: bold;
    }
  }
  p{
    font-family: "Helvetica Neue LT Pro";
    font-weight: 300;
    font-style: normal;
    padding-top: 1rem;
    //padding-bottom: 1rem;
    font-size: 2rem;
    @media (max-width: 1920px){
      font-size: 1.7rem;
      line-height: 1.2;
    }
    @media (max-width: 1440px){
      font-size: 1.5rem;
    }
    @media (max-width: 1366px){
      font-size: 1.3rem;
    }
    @media (max-width: 991px){
      font-size: 1.6rem;
    }

    span{
        font-family: "Helvetica Neue LT Pro";
        font-weight: 300;
        font-style: normal;
    }

  }

  .form--container {
    $fontSizeForm: 15px;

    .form-group {
      h4 {
        color: #706F6F;
        display: block;
        text-align: center;
        width: 100%;
      }

      .form--quiz {
        label {
          span {
            color: #706F6F;
            display: block;
            font-size: 15px;
            margin: 10px auto;
            text-align: center;
            width: 100%;
          }
          input {
            text-align: center;
            width: 100%;
          }
        }
      }
    }

    .form-check {
      @media(max-width: 1440px){
        line-height: 1;
      }//
      span {
        font-family: "Helvetica Neue LT Pro";
        font-weight: 300;
        font-style: normal;
        font-size: 1.3rem;
        line-height: 0;
        @media (max-width:1440px) {
          font-size: 1rem;
        }
        &.wpcf7-acceptance {
          height: 10px;
          width: 10px;
        }
        &.terminos--info {
          color: #fff;
          font-size: 1rem;
          padding-left: 20px;
          a, a:hover {
            color: $color-verde;
            font-size: $fontSizeForm;
            text-decoration: none;
          }
        }
        a{
          color: $color-verde;
        }
      }

      br {
        display: none;
      }

    }

    input, textarea {
      font-size: $fontSizeForm;

    }

    input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #706F6F;
      border-radius: 0;
      font-family: "Helvetica Neue LT Pro";
      font-weight: 300;
      font-style: normal;

      &:focus, &:hover {
        background-color: transparent;
        border-color: $color-verde;
        box-shadow: none;
        color: #ffffff;
        outline: none;
      }
    }

    input[type="submit"] {
      background-color: #25aee0;
      border: none;
      border-radius: 1em;
      color: white;
      font-size: 2rem;
      padding: 1.2rem 5rem;
      margin-top: 15px;
      font-family: "Helvetica Neue LT Pro";
      font-weight: 300;
      font-style: normal;
      @media (max-width: 1440px) {
        padding: 1rem 4rem;
      }
      @media (max-width: 1366px) {
        padding: 0.8rem 3.8rem;//
      }
    }

    textarea {
      background-color: transparent;
      border: 1px solid #706F6F;
      border-radius: 6px;
      color: white;
      height: 120px;

      &:focus, &:hover {
        background-color: transparent;
        border-color: #ff352f;
        box-shadow: none;
        color: #ffffff;
        outline: none;
      }
    }


  }
}
#error-formulario{
  .modal-dialog{
    margin-top: 10%;
    .modal-content{
      border-radius: 0px;
      .modal-header{
        border-bottom: none;
      }
      .modal-body{
        padding: 0 3rem 2rem 3rem;
        h2{
          font-family: Nunito;
          padding-bottom: 1rem;
          line-height: 1;
          font-weight: bold;
          font-style: normal;
          color: $color-texto-p;
        }
        .contenido-mensaje-cf7{
          visibility: hidden;
        }
        ol{
          list-style: decimal;
          margin-left: 2rem;
          li{
            color: $color-azul-titulos;
            font-size: 1.5rem;
          }
        }
      }
    }


  }

}