/*VARIABLES COLORES*/
$color-azul-titulos: #303686;
$color-verde: #ecc155;
$color-texto-p: #585857;

/* CSS LANDING*/

#fullpage{
  @media(max-width: 768px){
    overflow-x: hidden;
  }
  font-family: Nunito;

  .content-arrow{
    position: absolute;
    z-index: 9999;
    text-align: center;
    bottom: 60px;
    @media (max-width:1366px){
      bottom: 50px;//
    }
    @media (max-width:768px){
      bottom: 50px;//
      text-align: right;
    }
    a{
      &:hover, &:focus{
        text-decoration: none;
      }
      i{
        font-size: 44px;
        color: #4370ac;
        border: solid 2px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        line-height: 39px;
        padding-top: 4px;
        &:hover, &:focus{
          color: #fff;
        }
        @media (max-width:768px){
          padding-right: 8px;
        }
      }
      span{
        color: #fff;
        line-height: 1;
        @media (max-width:768px){
          color: #4370ac;
        }
      }
    }

  }
  .btn1{
    @media (max-width:480px){
      margin-bottom: 28%;
      padding-right: 5rem;
    }
    a{
      i{
        @media (max-width:768px){
          padding-right: 0px;
        }
      }
    }

  }

  /*INICIO CONTENIDOS EN COMUN EN LAS SECCIONES */
  .section{
    .title-content{
      text-align: left;
      padding: 4.5rem 0 2rem 8rem;//
      line-height: 0.7;
      @media (max-width:1440px){
        padding: 4rem 0 2rem 6rem;
      }
      @media (max-width:1366px){
        padding: 5rem 0 2rem 5rem;
      }
      @media (max-width: 991px){
        text-align: center;
        padding: 2rem 4rem;
      }
      h2{
        font-family: 'Helvetica Rounded LT Std';
        font-weight: bold;
        font-style: normal;
        font-size: 9rem;
        @media (max-width:1920px){
          font-size: 7rem;
        }
        @media (max-width:1440px){
          font-size: 5.5rem;
        }
        @media (max-width:1366px){
          font-size: 5.2rem;
        }
        span{
          color: #003a87;
        }
        color: #eac03c;
      }
    }
    .content{
      font-family: 'Helvetica Neue LT Pro';
      padding: 3rem 0 2rem 8rem;//
      @media (max-width:1366px){
        padding: 4rem 0 2rem 5rem;
      }
      @media (max-width:991px){
        padding: 1rem 2rem;//
      }
      p{
        font-family: 'Helvetica Neue LT Pro';
        font-weight: 300;
        font-style: normal;
        font-size: 2.2rem;
        color: $color-texto-p;
        @media (max-width:2560px){
          font-size: 3rem;
        }
        @media (max-width:1920px){
          font-size: 2.5rem;
        }
        @media (max-width:1440px){
          font-size: 2rem;
        }
        @media (max-width:1280px){
          font-size: 1.7rem;
        }
      }
    }
  }

  /*FIN CONTENIDOS EN COMUN*/



  /* INICIO SECCION CABEZOTE YARU*/
  .cabezote-yaru{
    background-image: url(../img/mujeres-cabezote.png);
    background-position: 0% 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-left: 5em;
    @media(max-width: 991px){
      background-position: 0% 100%;
      background-size: 125%;
      padding: 2rem;
    }
    @media(max-width: 480px){
      height: 850px !important;
      .fp-tableCell{
        height: 100% !important;
      }
    }
    .title-cabezote{
      color: $color-azul-titulos;
      font-size: 5.5rem;
      padding-left: 1em;
      @media (max-width:1440px){
        font-size: 5rem;
      }
      @media (max-width:1366px){
        font-size: 4rem;
      }
      @media (max-width:768px){
        text-align: center;
        font-size: 4rem;
      }
      @media (max-width:480px){
        padding-top: 0rem;
        padding-left: 0em;
      }
      p{
        margin-top: 1.6em;
        padding: 1rem 3rem;
        line-height: 1;
        font-weight: 300;
        @media (max-width: 768px) {
          text-align: center;
        }
      }
      span{
        font-family: Nunito;
        font-weight: 800;
        padding: 5px 25px;
        background-color: $color-verde;
        margin-top: 20px;
        margin-left: 20px;
        border-radius: 1em;
        @media (max-width:1366px){
         padding: 3px 15px;
        }
        @media (max-width: 767px) {
          margin-left: 0px;
        }
      }
    }
    .logo-yaru{
      margin-top: 5em;
      padding-left: 2em;
      padding-right: 4em;
      border-right: solid 1px #eee;
      @media (max-width: 768px) {
        margin-top: 9rem;
        padding-bottom: 0em;
        padding-left: 5rem;
        border-right: solid 1px #eee;
      }
      @media (max-width: 767px) {
        border-right: none;
      }
      @media (max-width: 480px) {
        margin-top: 7rem;
        padding: 1em 2rem;
      }
    }

  }
  /* FIN SECCION CABEZOTE YARU*/

  /* INICIO SECCION QUE ES YARU*/
  .que-es-yaru{
    background-image: url(../img/que-es-yaru.png);
    background-size: 80%;
    background-position: -25% 100%;
    background-repeat: no-repeat;
    @media (max-width: 1920px) {
      background-size: 80%;
      background-position: -25% 100%;
    }
    @media (max-width: 1440px) {
      background-size: 80%;
      background-position: -25% 100%;
    }
    @media (max-width: 1366px) {
      background-size: 72%;//
      background-position: 11% 100%;
    }
    @media(max-width: 1280px){
      background-size: 70%;
      background-position: 16.6% 100%;
    }
    @media (max-width: 1024px) {
      background-size: 75%;
      background-position: -33% 100%;
    }
    @media (max-width: 991px){
      background-size: 100%;
      background-position: 100% 100%;
    }
    @media (max-width: 768px){
      background-size: 120%;
      background-position: 100% 100%;
    }
    @media(max-width: 480px){
      background-size: 100%;
      background-position: 0 100%;
      height: 680px !important;
      .fp-tableCell{
        height: 100% !important;
      }
    }
    .title-content{
      @media(max-width: 1280px){
        padding: 5rem 0 2rem 2.3rem;
      }
      @media(max-width: 1024px){
        padding: 5rem 0 0 5rem;//
      }
      @media (max-width: 768px) {
        padding: 5rem 0 0 0;
      }
      @media(max-width: 480px){
        padding: 4rem;//
      }
      p{
        font-family: 'Helvetica Neue LT Pro';
        font-weight: 300;
        font-style: normal;
        font-size: 2.84rem;
        color: #003689;
        line-height: 1.2;
        @media (max-width:1440px){
          font-size: 2.22rem;
        }
        @media (max-width:1366px){
          font-size: 2.2rem;
        }
      }
    }
    .content{
      @media(max-width: 480px){
        padding: 1rem 0 0 3rem;//
      }
      p{
        font-family: 'Helvetica Neue LT Pro';
        font-weight: 300;
        font-style: normal;
        line-height: 1.18;
        color: $color-texto-p;
        padding: 1.4em 2em 2rem 0;
        text-align: justify;
        span{
          font-weight: 500;
        }
      }
    }
  }
  /* FIN SECCION QUE ES YARU*/

  /* INICIO SECCION COMO LO HACEMOS*/
  .como-lo-hacemos{
    .title-content {
      margin-top: 2rem;
    }
    .content{
      padding: 2rem 8rem;
      text-align: justify;
      @media (max-width:1366px){
        padding: 1rem 5rem;
      }
      @media (max-width:480px){
        padding: 1rem 3rem;
      }
      p{
        font-family: 'Helvetica Neue LT Pro';
        font-weight: 300;
        font-style: normal;
        line-height: 1.3;
        color: $color-texto-p;
        span{
          font-weight: 500;
        }
      };
      .img-como-lo-hacemos{
        padding: 6rem;
        text-align: center ;
        margin: 0 auto;
        @media (max-width:1440px){
          padding: 3rem;
        }
        @media (max-width:1366px){
          padding: 4rem;
        }
        @media (max-width: 1024px) {
          padding: 2rem;
        }
        @media (max-width: 768px) {
          padding: 2rem 8rem;
        }
        @media (max-width: 480px) {
          padding: 2rem 10rem;
        }
        @media (max-width: 320px) {
          padding: 2rem 6rem;
        }
        p{
          margin-top: 2.2rem;
          font-family: 'Helvetica Neue LT Pro';
          font-weight: 500;
          font-style: normal;
          text-align: center;
          @media (max-width: 768px) {
            font-size: 3rem;
          }
          @media (max-width: 480px) {
            font-size: 2.2rem;
          }
        }
      }
    }
  }
  /* FIN SECCION COMO LO HACEMOS*/

  /* INICIO SECCION SESIONES*/
  .sesiones{
    .content{
      margin-top: 5%;
      @media (max-width: 768px) {
        padding: 1rem 3rem;
      }
      img{
        padding: 2rem 2rem;
        @media(max-width: 768px){
          padding: 2rem 5rem;;
        }
      }
      .img-sesiones{
        padding: 0 2rem 0 0;
        @media(max-width: 768px){
          padding: 1rem 0.2rem;
        }
      }
      p{
        font-family: "Helvetica Neue LT Pro";
        font-size: 2.5rem;
        font-weight: bold ;
        font-style: normal;
        color: $color-azul-titulos;
      }
      .costo-session{
        padding: 2rem 3rem;
        background-color: $color-azul-titulos;
        color: #fff;
        font-size: 2.5rem;
        width: 100%;
        border-radius: 1.5rem;
        @media (max-width: 1366px) {
          font-size: 1.7rem;
        }
        @media (max-width: 768px) {
          font-size: 2rem;
        }
      }
    }

  }
  /* FIN SECCION SESIONES*/

  /* INICIO SECCION PROGRAMA FORTALESER*/
  .programa-fortaleser{
    background-image: url(../img/grupo-mujeres-programafortalecer.png);
    background-size: 50%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    @media (max-width:1024px){
      background-position: 33% 100%;
    }
    @media (max-width:768px){
      background-size: 100%;
    }
    .content{
      padding: 2rem 8rem;
      margin-top: 6rem;
      @media(max-width: 480px){
        padding: 2rem 4rem;
      }
      p{
        text-align: justify;
        padding-right: 4rem;
        @media (max-width:2560px){
          font-size: 3rem;
        }
        @media (max-width:1920px){
        font-size: 2.5rem;
        }
        @media (max-width:1366px){
          font-size: 2rem;
        }
        @media (max-width:1280px){
          font-size: 1.7rem;
        }
        @media(max-width: 480px){
          padding-right: 0rem;//
        }
        span{
          font-weight: 500;
          font-style: normal;
        }
      }
      ul{
        li{
          font-family: 'Helvetica Neue LT Pro';
          font-weight: 300;
          font-style: normal;
          color: $color-texto-p;
          font-size: 2.2rem;
          @media (max-width:2560px){
            font-size: 3rem;
          }
          @media (max-width:1920px){
          font-size: 2.5rem;
          }
          @media (max-width:1366px){
            font-size: 2rem;
          }
          @media (max-width:1280px){
            font-size: 1.7rem;
          }
        }
      }
    }
    .img-section{
      .logo-fortalecer{
        margin-top: 15%;
        padding-right: 6rem;
        padding-left: 8rem;
        @media (max-width:1366px){
          margin-top: 15%;
          padding-right: 3rem;
          padding-left: 6rem;
        }
        @media(max-width: 768px){
          text-align: center;
          padding-right: 3rem;
          padding-left: 3rem;
          img{
            width: 70%;
            margin-bottom: 90%;
          }
        }
        @media(max-width: 480px){
          img{
            width: 80%;//
          }
        }
        @media(max-width: 320px){
          padding-right: 5rem;
          img{
            width: 90%;
          }
        }
      }
      .grupo-mujeres{
        padding: 0;
      }
    }
  }
  /* FIN SECCION PROGRAMA FORTALESER*/

  /* INICIO SECCION ELIGE YARU*/
  .elige-yaru{
    .title-content{
      padding: 2rem 8rem;
      text-align: center;
      font-family: 'Helvetica Neue LT Pro';
      @media (max-width:480px){
        font-size: 3.5rem;
      }
      p{
        font-size: 3.3rem;
        color: $color-azul-titulos;
        font-weight: 300;
        font-style: normal;
        @media (max-width:1366px){
          font-size: 2.8rem;
        }
        @media (max-width:768px){
          line-height: 1.2;
        }
      }
    }
    .content{
      padding: 1.5rem 8rem;
      @media (max-width: 1366px) {
        padding: 0.5rem 8rem;
      }
      @media (max-width: 480px) {
        padding: 0.5rem 5rem;
        text-align: justify;
      }
      p{
        span{
          font-weight: 500;
          font-style: normal;
          color: $color-azul-titulos;
        }
      }
    }
    .content-emprendedoras{
      padding: 2rem 8rem;
      @media (max-width:1366px){
        padding: 0 4rem 2rem 5rem;
      }
      @media (max-width: 480px) {
        padding: 0 2rem 2rem 3rem;
      }
      .emprendedoras{
        padding: 4rem;
        @media (max-width:1366px){
          padding: 2rem;
        }
        a{
          &:hover, &:focus{
            text-decoration: none;
          }
          .box{
            padding: 4rem;
            background: #fff;
            font-size: 2.2rem;
            box-shadow: 0 2px 10px 2px #dcdcdc;
            &:hover{
              background-color: #e6e6e6;
            }
            @media (max-width:1366px){
              padding: 2rem 3rem;
              font-size: 1.7rem;
            }
            img{
              padding: 2rem;
              margin: 0 auto;
            }
            p{
              font-family: 'Helvetica Neue LT Pro';
              font-style: normal;
              font-weight: 300;
              text-align: justify;
              color: $color-texto-p;
              line-height: 1.3;
              span{
                font-weight: 500;
                font-style: normal;
              }
            }
            .nombre-emp{
              color: $color-azul-titulos;
              text-align: left;
              padding-top: 1rem;
              font-family: 'Helvetica Neue LT Pro';
              font-weight: 500;
              font-style: normal;
            }
          }
        }
      }
    }
  }
  /* FIN SECCION ELIGE YARU*/

  /* INICIO SECCION FUNDACION WWB*/
  .fundacionwwb{
    .content{
      padding: 8rem 8rem;
      @media (max-width:480px){
        padding: 4rem 4rem;
      }

      h2{
        color: $color-azul-titulos;
        font-size: 5.5rem;
        font-family: "Helvetica Neue LT Pro";
        font-weight: 300;
        font-style: normal;
        @media (max-width:480px){
          font-size: 3.5rem;
        }
        span{
          font-weight: bolder;
          font-style: normal;
        }
      }
      p{
        text-align: justify;
        span{
          font-family: "Helvetica Neue LT Pro";
          font-weight: 500;
          font-style: normal;
        }
        span:nth-last-child(1){
          color: $color-azul-titulos;//
        }
      }
    }
  }
  /* FIN SECCION FUNDACION WWB*/
}
.vectorial{
  background-color: #8a8e97;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: absolute;
  bottom: 0;//
  @media (max-width:991px){
    display: none;
  }
}
.vectorial2{
  background-color: #8a8e97;
  padding-top: 2rem;
  padding-bottom: 2rem;
  bottom: 0;//
  @media (min-width:991px){
    display: none;
  }
}
