/*VARIABLES COLORES*/
$color-azul-titulos: #303686;
$color-verde: #ecc155;
$color-texto-p: #585857;

/* CSS LANDING*/

#fullpage{

  .cabezote-yaru-gracias{
    background-image: url(../img/mujeres-cabezote-thankyoupage.png);
    background-position: 50% 100%;
    background-size: 72%;
    background-repeat: no-repeat;
    padding-left: 5em;

    @media(max-width: 780px){
      padding-left: 1em;
      height: 1000px !important;
      background-size: 126%;
      .fp-tableCell{
        height: 100% !important;
      }
    }
    .title-cabezote{
      color: $color-azul-titulos;
      font-size: 3.5rem;
      padding-left: 1em;
      margin-top: 1rem;
      @media (max-width: 1440px) {
        margin-top: 8rem;
      }
      @media (max-width:1366px){
        font-size: 2.5rem;
        margin-top: 0rem;
      }
      @media (max-width:768px){
        text-align: center;
        font-size: 3rem;
        padding-left: 0em;
      }
      @media (max-width:480px){
        padding-top: 0rem;
        padding-left: 0em;
      }
      p{
        margin-top: 1.6em;
        padding: 1rem 6rem 1rem 2rem;
        line-height: 1;
        font-weight: 300;
        @media (max-width: 768px) {
          text-align: center;
          padding: 1rem 3rem;
        }
      }
      span{
        font-family: Nunito;
        font-weight: 800;
      }
      a{
        .btn-volver{
          text-align: center;
          width: 70%;
          height: 100%;
          margin-left: 1em;
          font-family: Nunito;
          color: #fff;
          padding: 15px 25px;
          background-color: #25aee0;
          border-radius: 1em;
          font-size: 2rem;
          line-height: 1.2;
          border-bottom: 2px solid $color-azul-titulos;
          @media (max-width: 768px) {
            margin: 0 auto;
            width: 90%;
          }
          &.hover{
            background-color: $color-azul-titulos;
            color: #fff;
          }
        }
      }

    }
    .logo-yaru{
      margin-top: 5em;
      padding-left: 2em;
      padding-right: 4em;
      border-right: solid 1px #eee;
      @media (max-width: 1440px) {
        margin-top: 15rem;
      }
      @media (max-width: 1366px) {
        margin-top: 5rem;
      }
      @media (max-width: 768px) {
        margin-top: 9rem;
        padding-bottom: 0em;
        padding-left: 5rem;
        border-right: solid 1px #eee;
      }
      @media (max-width: 767px) {
        border-right: none;
      }
      @media (max-width: 480px) {
        margin-top: 7rem;
        padding: 1em 2rem;
      }
    }

  }
  /* FIN SECCION CABEZOTE YARU*/

}
